body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

        background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfnnAXR00ssfUR3-N2Rfo-3M5mS2X6vDvbyA&usqp=CAU");
   background-size: cover;
}

.style {
    text-align: center;
    border:1.5px solid rgb(5, 5, 5);
    border-width: 2px;
    border-radius: 20px;
    width:300px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(222, 240, 240);
    margin-top: 10px;
    box-shadow: 10px;
}

input[type="number"]{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 270px;
    height: 35px;
    border-radius: 5px;
    border-color: rgb(16, 113, 158);
    background-color: rgb(252, 224, 253);
    box-shadow: 5cm;
}

.button {
    padding: 10px 20px;
    cursor: pointer;
    color:white;
}

p {
    font-size: 18px;
    font-weight: bold;
}